- headline = params[:filter].nil? || params[:filter] =~ /all/ ? 'past and upcoming' : params[:filter]
- headline += params[:streaming].nil? ? '' : ", streaming: #{params[:streaming]}"

%h2= headline

%table
  %thead
    %tr
      %th Name
      %th Start
      %th End
      %th Location
      %th Website
      %th Status
  %tbody
    - settings.parser.filter({ general: params[:filter], streaming: params[:streaming] }).each do |event|
      %tr
        %td= event.name
        %td= event.start_date
        %td= event.end_date
        %td= event.location
        %td
          - begin
            %a{ href: URI.parse(event.description) }= event.description
          - rescue URI::InvalidURIError
            = event.description
        %td= event.planing_status

%a{ href: url('/') } â† back