#feeds
  %h4 conferences
  %ul
    - %w{html ical atom json txt}.each do |format|
      %li
        %a{ href: url("#{settings.sub_path}/events.#{format}") }= format

  %h4 meetings
  %ul
    - %w{html ical atom json txt}.each do |format|
      %li
        %a{ href: url("#{settings.sub_path}/events.#{format}?meetings=✓") }= format
#calendar

#comments
  %sub
    * apply filter e.g.
    %code
      \/events.txt?filter={past|upcoming|today|2013}&streaming={true|false|undefined}


%script{ src: url("#{settings.sub_path}/js/moment.min.js") }
%script{ src: url("#{settings.sub_path}/js/jquery.min.js") }
%script{ src: url("#{settings.sub_path}/js/jquery-ui.custom.min.js") }
%script{ src: url("#{settings.sub_path}/js/fullcalendar.min.js") }

:javascript
  $(document).ready(function() {
    $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,basicWeek,basicDay'
        },
        defaultDate: "#{Date.today}",
        firstDay: 1,
        editable: false,
        events: [
          #{@events.join('\n')}
        ]
    });

    $('#calendar').fullCalendar('gotoDate', "#{@gotodate}");
    href_date();

    $('.fc-button').click(function(){
      href_date();
    });

    function href_date() {
      $('.fc-header-title').wrap(function() {
         var link = $('<a/>');
         var moment = $('#calendar').fullCalendar('getDate');
         link.attr('href', "#{url(settings.sub_path + "/?gotodate=")}" + moment.format());
         return link;
      });
    };
  });

:css
  #calendar {
    width: 600px;
    margin: 40px auto;
    display: table-cell;
  }

  #feeds {
    display: table-cell;
    width: 100px;
  }
